<li class="list-group-item">
  <div class="row">
    <div class="col-sm-4 col-md-3 mb-1">
      <div class="badge text-bg-info text-wrap fs-8 mb-1">
        {{ entry.date | date: '%b %Y' }}
      </div>
      {% if entry.location %}
        <div class="fs-8">
          <span class="bi bi-geo-alt-fill text-info" aria-label="location icon"></span>
          {{ entry.location }}
        </div>
      {% endif %}
    </div>
    <div class="col-sm-8 col-md-9">
      {% if entry.starred %}
        <span class="bi bi-star-fill text-warning float-end my-auto" aria-label="starred item"></span>
      {% endif %}
      <h3 class="fs-4">{{ entry.name }}</h3>
      <p>
        <span class="text-emphasis">{{ entry.issuer }} </span>
      </p>
      {% if entry.description %}
        <p>{{ entry.description }}</p>
      {% endif %}
    </div>
  </div>
</li>
