---
layout: default
---
<hgroup id="overview">
  <h1>{{ site.data['curriculum-vitae'].name }}</h1>
  {% if site.data['curriculum-vitae'].title %}
    <p class="fs-3">{{ site.data['curriculum-vitae'].title }}</p>
  {% endif %}
  {% if site.data['curriculum-vitae'].summary %}
    <p>{{ site.data['curriculum-vitae'].summary }}</p>
  {% endif %}
</hgroup>

<div class="row">
  <div class="col-md-3 col-lg-2 my-3">
    <nav id="table-of-contents">
      <h2 class="fs-4">Sections</h2>
      <menu class="nav navbar-nav">
        <li><a class="nav-link fs-7" href="#overview">Overview</a></li>
        <li><a class="nav-link fs-7" href="#experience">Experience</a></li>
        <li><a class="nav-link fs-7" href="#education">Education</a></li>
        <li><a class="nav-link fs-7" href="#projects">Projects</a></li>
        <li><a class="nav-link fs-7" href="#certifications">Certifications</a></li>
        <li><a class="nav-link fs-7" href="#awards">Awards</a></li>
        <li><a class="nav-link fs-7" href="#skills">Skills</a></li>
      </menu>
    </nav>
  </div>
  <div class="col-md-9 col-lg-10">
    <section class="card mb-3" id="experience">
      <div class="card-body">
        <h2>Experience</h2>
        <ul class="list-group list-group-flush">
          {% assign experiences = site.data['curriculum-vitae'].experiences | sort: 'end' | reverse %}
          {% for entry in experiences %}
            {% include cv/experience.liquid %}
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="card mb-3" id="education">
      <div class="card-body">
        <h2>Education</h2>
        <ul class="list-group list-group-flush">
          {% assign education = site.data['curriculum-vitae'].education | sort: 'end' | reverse %}
          {% for entry in education %}
            {% include cv/education.liquid %}
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="card mb-3" id="projects">
      <div class="card-body">
        <h2>Projects</h2>
        <ul class="list-group list-group-flush">
          {% assign projects = site.data.projects | sort: 'end' | reverse %}
          {% for entry in projects %}
            {% include cv/project.liquid %}
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="card mb-3" id="certifications">
      <div class="card-body">
        <h2>Certifications</h2>
        <ul class="list-group list-group-flush">
          {% assign certifications = site.data['curriculum-vitae'].certifications | sort: 'issued' | reverse %}
          {% for entry in certifications %}
            {% assign current-date = site.time | date: '%Y-%m-%d' %}
            {% assign expiration = entry.expiration | date: '%y-%m-%d' %}
            {% if current-date < expiration %}
              {% include cv/certification.liquid %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="card mb-3" id="awards">
      <div class="card-body">
        <h2>Awards</h2>
        <ul class="list-group list-group-flush">
          {% assign awards = site.data['curriculum-vitae'].awards | sort: 'date' | reverse %}
          {% for entry in awards %}
            {% include cv/award.liquid %}
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="card mb-3" id="skills">
      <div class="card-body">
        <h2>Skills</h2>
        <div class="d-flex flex-row flex-wrap my-1">
          {% for pair in site.data.skills %}
            {% assign skill = pair[1] %}
            <div class="bg-dark-subtle border border-dark-subtle rounded-3 py-1 px-2 me-2">
              {% if skill.class %}
                <span class="{{ skill.class }}" aria-hidden="true"></span>
              {% elsif skill.image %}
                <img class="icon" src="{{ skill.image }}" alt>
              {% endif %}
              &nbsp;{{ skill.name }}
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>
